.card{
background: white;
border-radius: 10px;
padding: 24px;

.link {
    background: black;
    border-radius: 29px;
    padding: 10px;
    color: white;
}

.link:hover{
    background: white;
    color: purple;
}
}


